*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    background-color:#576574;
 
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #222f3e;
    padding: 1.5rem;
}

header .item1 h1{
    color:hotpink;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;

}

#headingone{
    color:white;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;

}

header .item2 i{
    color:white;
  margin: 1rem;
  font-size: 1.2rem;
  background-color:#009432;
  padding: 0.8rem;
  border-radius: 2rem;

}


header .item2 i:hover{
    background-color: blue;
    transition: 1s;


}
strong{
    font-weight: 1rem;
    background-color:#FC427B;
    padding: 2px;
    margin: 2px;
    color: white;
}


marquee{
    color: white;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

marquee span{
    
    font-size: 2rem;

}
.container1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    overflow: hidden;
}

.container1 .box1 img{

     width: 33rem;
    height: 33rem;
    border-radius: 1rem;
    cursor: pointer;
    opacity: 0.5;
    display: none;
    }
    
.container1 .box1 img:hover{

   opacity: 1;
   
   
   }


.container1 .box2{
    background-color: #ffffff;
    width: 45rem;
    height: 45rem;
    padding: 2rem;
    border-radius: 1rem;
    line-height: 30px;

    font-family: 'Hind Siliguri', sans-serif;
    
    }

    
.container1 .box2 p{

  text-align: justify;
 margin-top: 1px;
 font-size: 1.7rem;
line-height: 2.2rem;

    
    }

.container1 .box2 h2{
text-align: center;

}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.video-container{
    text-align: center;
    overflow: hidden; 
  margin-top: 2rem;
  padding: 1.5rem;
  width: 100vw;
  height: 100%;
 
}

.video-container video{
    width: 95vw;
    height: 100vh;
          
}




footer .footerdiv1 i{
    color: white;   
    margin: 1rem;
    font-size: 1.2rem;
    background-color:#009432;
    padding: 0.8rem;
    border-radius: 2rem;
    
  
}

footer .footerdiv1 i:hover{
  background-color: blue;
  transition: 1s;


}


footer .footerdiv1{
    text-align: center;

      
    }
footer .footerdiv2{
text-align: center;


}

footer .footerdiv2 ol li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    
           
         
       }

footer .footerdiv2 ol li a{
 margin: 0.5rem;

 
        
      
    }
    
footer .footerdiv2 ol li a:hover {
    color: blue;
    text-decoration: underline;
   
    
           
         
       }
       


#iconpara{
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
}


#listpara{
    color: white;
    margin-bottom: 1rem;
    text-transform: uppercase;
}



@media screen and (max-width:891px){
    
    .video-container{
        width: 95vw;
        height: 100%;
        }
        .video-container video{
            width: 100vw;
            height: 100%;
                  
        }
}

footer{
    position: relative;
    top: 4rem;
    height: 50vh;
   background-color:#e84118;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   font-family: Arial, Helvetica, sans-serif;
   
   
}

