<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skills.css')}}">
</head>
<body>
    <header>
       <h1>Samsideen<strong>Hydara</strong></h1>
    </header>
    <!-- end of the header -->
    <div class="banner">
        <h1 id="bannerheading">Samsideen Hydara<br>Coding Addiction</h1>
<img src="{{url_for('static', filename='images/coding.jpg' )}}" alt="Samsideen Hydara" >

    </div>

    <!--end of the banner-->

    <div class="myself">
        <img src="{{url_for('static', filename='images/sam2.jpg')}}" alt="Samsideen Hydara" width="300" height="300">
    </div>



    <h1 id="skillsheading">My Skills</h1>
    
    <div class="skillsbar">
    <p class="para">HTML</p>
<div class="container">
  <div class="skills html">90%</div>
</div>

<p  class="para">CSS</p>
<div class="container">
  <div class="skills css">80%</div>
</div>

<p  class="para">Javascript</p>
<div class="container">
  <div class="skills js">65%</div>
</div>

<p  class="para">Python</p>
<div class="container">
  <div class="skills php">60%</div>
</div>

</div>
<!--  footer starts here-->

<footer>
    <div class="footercontainer">

      <div class="box1">
<h1>HTML</h1>
<p>


  HTML stands for Hyper Text Markup Language.
  HTML is the standard markup language for creating Web pages.
  HTML describes the structure of a web page.

</p>

<a href="https://www.w3schools.com/html/default.asp" target="blank"><button>Learn More</button></a>

      </div>

      <div class="box2">

<h1>CSS</h1>
 <p>
  CSS stands for Cascading Style Sheets. CSS describes how HTML elements are to be displayed on screen, paper, or in other media. CSS saves a lot of work. It can control the layout of multiple web pages all at once.

 </p>
<a href="https://www.w3schools.com/css/default.asp" target="blank"><button>Learn More</button></a>
      </div>
      <div class="box3">
<h1>Javascript</h1>
<p>
  JavaScript is a scripting or programming language that allows you to implement complex features on web pages. 
</p>
<a href="https://www.w3schools.com/js/default.asp" target="blank"><button>Learn More</button></a>
      </div>
      <div class="box4">

<h1>Python</h1>
<p>
  Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. ... Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse.
</p>
<a href="https://www.python.org/doc/essays/blurb/" target="blank"><button>Learn More</button></a>
      </div>

    </div>

   

  
</footer>
</body>
</html>

